<div><%= link_to 'New Student', new_student_path, :class=>"btn btn-default" %></div>

<br>
<br>

<table class='table table-hover table-bordered'>
  <tr><th>No.</th><th>Name</th><th>Operation</th></tr>
  <% @students.each do |student| %>
    <tr>
      <td>
        <%= student.id %>
      </td>
      <td>
        <%= link_to student.name, student_path(student) %>
      </td>
      <td>
        <%= link_to 'EDIT', edit_student_path(student), :class=>"btn btn-default" %>
        <%= link_to 'DELETE', student_path(student), :method => :delete, :class=>"btn btn-default" %> 
      </td>
    </tr>
  <% end %>
</table>
<h3><%= paginate @students %></h3>




