<div><%= link_to 'New Student', new_student_path %></div>

<br>
<br>

<table>
  <tr><th>Name</th></tr>
  <% @students.each do |student| %>
    <tr>
      <td>
        <%= link_to student.name, student_path(student) %>
      </td>
      <td>
        <%= link_to 'EDIT', edit_student_path(student) %>
      </td>
      <td>
        <%= link_to 'DELETE', student_path(student), :method => :delete %> 
      </td>
    </tr>
  <% end %>
  <tr><td><%= paginate @students %></td></tr>
</table>



