<!DOCTYPE html>
<html>
<head>
  <title>Betacamp member system</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  Betacamp member system
  <div style="color:#9f9"><%=flash[:create_success]%></div>
  <div style="color:#f99"><%=flash[:delete_success]%></div>
  <%= yield %>

</body>
</html>
